<style>
    h2 {
        font-weight: 999;
    }


</style>
<div>
    Select Client
    <select ng-model="vm.selectedClient">
        <option ng-repeat="client in vm.Clients" ng-value="client">{{client.Name}}</option>
    </select>

</div>
<div class="btn btn-primary" ng-click="vm.SelectClientOrder()">Select</div>

<h1>Assign Products</h1>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div ui-grid="vm.GridProducts"></div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div ui-grid="vm.GridSelectedProducts"></div>
    </div>
</div>
<div class="input-group">
    <div class="btn btn-primary && glyphicon glyphicon-plus" ng-click="y">Add</div>
    <div class="btn btn-primary" ng-click="vm.Clean()">Clean</div>
</div>
<h1>Total: {{ vm.CalculatePrice() | currency}}</h1>
