<style>

    h2 {
        font-weight: 999;
    }

    .grid {
        background-color: black;
    }

    .text-center {
        text-align: center;
    }
</style>
<div>
    <h2>{{ !vm.isInEditMode ? 'Add Client' : 'Edit mode'}}</h2>
    <form>
        <h4>Name:</h4>
        <div class="input-group">
            <span class="input-group-addon" aria-hidden="true"><i class=" glyphicon glyphicon-client"></i></span>
            <input type="text" ng-model="vm.Name" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
        </div>
        <h4>Surname1:</h4>
        <div class="input-group">
            <span class="input-group-addon" aria-hidden="true"><i class=" glyphicon glyphicon-client"></i></span>
            <input type="text" ng-model="vm.Surname1" class="form-control" placeholder="Surname1" aria-describedby="basic-addon1">
        </div>
        <h4>Surname2:</h4>
        <div class="input-group">
            <span class="input-group-addon" aria-hidden="true"><i class=" glyphicon glyphicon-client"></i></span>
            <input type="text" ng-model="vm.Surname2" class="form-control" placeholder="Surname2" aria-describedby="basic-addon1">
        </div>
        <h4>Email:</h4>
        <div class="input-group">
            <span class="input-group-addon" aria-hidden="true"><i class=" glyphicon glyphicon-client"></i></span>
            <input type="email" ng-model="vm.Email" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
        </div>
        <h4>Password:</h4>
        <div class="input-group">
            <span class="input-group-addon" aria-hidden="true"><i class=" glyphicon glyphicon-client"></i></span>
            <input type="password" ng-model="vm.Password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <div ng-if="!vm.isInEditMode" class="btn btn-primary && glyphicon glyphicon-plus" ng-disabled="!vm.isDataValid()" ng-click="vm.isDataValid() && vm.AddNewClient()">Add</div>
            <div ng-if="vm.isInEditMode" class="btn btn-primary && glyphicon glyphicon-pencil" ng-disabled="!vm.isDataValid()" ng-click="vm.isDataValid() && vm.UpdateClient()">Update</div>
            <div class="btn btn-primary" ng-click="vm.Clean()">Clean</div>
        </div>
    </form>

    <h2>Clients list. Total {{vm.Clients.length}}</h2>
    <div ui-grid="vm.GridClients"></div>
</div>

